.popup__input {
  width: 358px;
  height: 27px;
  margin: 49px auto 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background: transparent;
  padding-bottom: 13px;
}

.popup__input:last-of-type {
  margin-top: 30px;
}

.popup__input:focus {
  outline: none;
  border: 2px solid skyblue;
}

.popup__input::placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #C4C4C4;
}

@media screen and (max-width: 600px) {
  .popup__input {
    width: 238px;
    height: 27px;
    margin: 75px auto 0;
  }
}
