.profile__activity {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

@media screen and (max-width: 665px) {
  .profile__activity {
    font-size: 14px;
    line-height: 17px;
    margin-left: 16px;
    max-width: 200px;
  }
}
