.elements {
  display: grid;
  margin: 51px auto 0;
  grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
  column-gap: 17px;
  row-gap: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .elements {
    max-width: 581px;
  }
}

@media screen and (max-width: 600px) {
  .elements {
    max-width: 282px;
    margin-top: 36px;
  }
}
