.popup__submit {
  width: 358px;
  height: 50px;
  margin: 48px auto 37px;
  border: black;
  background: #000000;
  border-radius: 2px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity .3s linear;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
    margin-top: 45px;
    margin-bottom: 25px;
  }
}
