.profile__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
    'profile__name profile__edit-button'
    'profile__activity  .';
  column-gap: 18px;
  row-gap: 9px;
  align-items: end;
  margin-top: 62px;
  margin-left: 30px;
}

@media screen and (max-width: 665px) {
  .profile__info {
    margin: 26px auto 0;
    row-gap: 7px;
    column-gap: 10px;
  }
}

@media screen and (max-width: 350px) {
  .profile__info {
    margin-left: 65px;
  }
}
